#logearse{
    position: absolute;
    top:8px;
    right:19px; 
}
#registrarse{
    position: absolute;
    top:55px;
    right:19px;
}
body{
     background-image: url("images/ola.jpeg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
}
#top_header{
    -webkit-box-flex:5;
    text-align: center;
    image-attachment: fixed;
}

nav{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:15px;
    width:950px;
    margin-left: 155px;
    margin-top: 50px;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:43px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
}
nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid #E3E3E3;
}
nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color:#000;
}
/*Reproductor de video*/

#media-player {
    position:absolute;
    margin-left:770px;
    margin-top:-300px;
    padding:1em 1em .5em;
    background-color:#333;
}

video {
    border:1px solid #2e52a4;
    width:330px;
    height:170px;
    background:#000;
}

button {
    text-indent:-9999px;
    width:16px;
    height:16px;
    border:none;
    cursor:pointer;
    background:transparent url('images/buttons.png') no-repeat 0 0;
}

.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

progress {
    color:#fff;
    font-size:12px;
    width:172px;
    height:16px;
    border:none;
    margin-right:5px;
    background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
    float:left;
    clear:both;
    color:#aaa;
    width:100%;
    margin-top:10px;
    border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
    padding:0;
    font-size:12px;
    list-style-type:none;
}
#play-list li {
    cursor:pointer;
    padding-left:15px;
    background:transparent url('images/item.png') no-repeat 0 4px;
}
#the_footer{
    clear: both;
    text-align: center;
    border-top: 2px solid white;
    margin-top: 60px;
}